pandas
faker
numpy
pillow
opencv-python
tqdm
torch
torchvision
torchaudio
transformers
scikit-learn
matplotlib
seaborn
mlflow
aiohttp
pydantic
faiss-cpu
langchain
langchain-anthropic
langchain-huggingface
langchain-community
qdrant-client
sentence-transformers
textstat
bert-score
fastapi
uvicorn
streamlit
plotly
python-dotenv
